<h1 class="text-center">Modifiez ce vin !</h2>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <%= simple_form_for(@wine) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :appelation, required: true, autofocus: true, label: "Appelation" %>
          <%= f.input :domain, required: true, label: "Domaine" %>
          <%= f.input :year, required: true, label: "Millésime" %>
          <%= f.input :color, required: true, label: "Couleur" %>
          <%= f.input :stock, required: true, label: "Quantité" %>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "Modifier ce vin", class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
